.button__submit{
    width: 100%;
    background-color: var(--blue_color);
    color: var(--light_color);
    border: none;
    cursor: pointer;
    &:hover{
        background-color: var(--light_color);
    }
}

@media only screen and (max-width: 600px) {
    .button__submit{
        margin-top: 1rem;
        font-size: 30px;
    }
}