.navbar__container{
    background-color: var(--primary_color);
    display: flex;
    align-items: center;
    padding: 3rem 20rem 1rem 20rem;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
}
.navbar__title{
    color: var(--secondary_color);
    font-size: 40px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}
.navbar__links{
    align-items: center;
    display: flex;
}
.navbar__link{
    font-size: 23px;
    cursor: pointer;
    padding: 0 1rem;
}