.switch__button{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--secondary_color);
    border-radius: 100px;
    border: 1px solid var(--secondary_color);
}
.switch__circle{
    position: absolute;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 100%;
    background-color: var(--primary-accent_color);
    transition: all 0.4s ease;
}
.moon{
    color: var(--primary_color);
}
.sun{
    color: var(--yellow_color);
}
.switch__circle-light{
    right: 0;
}
.switch__circle-dark{
    right: 49%;
}
@media only screen and (max-width: 600px) {
    .switch__button{
        margin: 1rem;
        font-size: 20px;
    }
    .switch__icon{
        font-size: 25px;
        margin: 0.5rem 0.5rem;
    }
}
