//colors

body,html{
    width: 100vw;
    overflow: hidden;
    background-color: var(--primary_color);
}
*{
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.route__container{
    height: 100vh;
    padding-top: 0rem;
    margin-bottom: 0rem;
}

.shadow::before{
    overflow: hidden;
    position: absolute;
    transition: all .5s ease;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
