//colors

body,html{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--primary_color);
    
}
*{
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary_color);
    transition: color 0.8s ease, background 0.8s ease;
}


